<?xml version="1.0"?>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=nccfohaukwu;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=127.0.0.1;Initial Catalog=nccfohaukwu; User Id=root; Password=micdak" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
